<div class="card mt-5">
  <div class="card-body">
  	<h3 class="font-weight-bold">Fauna</h3>
  	<hr style="color: #0056b2;" />
  	<h5>-Datos Generales-</h5>
      <form #faunaForm="ngForm" (ngSubmit)="onSubmit(faunaForm)">
          <!-- Para actualizar los campos de un animal -->
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="faunaService.selectedFauna.$key">

          <div class="form-group">
            <input  disabled
              typeblock="null"
              class="form-control"
              name="foto"
              #foto="ngModel"
              [(ngModel)]="faunaService.selectedFauna.foto"
              placeholder="Foto de animal"
              >
          </div>

          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="nombre"
              #nombre="ngModel"
              [(ngModel)]="faunaService.selectedFauna.nombre"
              placeholder="Añade el nombre del animal"
              >
          </div>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="dieta"
                #dieta="ngModel"
                [(ngModel)]="faunaService.selectedFauna.dieta"
                placeholder="Añade la dieta del animal"
                >
            </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="bioma"
              #bioma="ngModel"
              [(ngModel)]="faunaService.selectedFauna.bioma"
              placeholder="Añade el biomedio del animal"
              >
          </div>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="estado"
                #estado="ngModel"
                [(ngModel)]="faunaService.selectedFauna.estado"
                placeholder="Añade el estado de conservación"
                >
          </div>
          <hr style="color: #0056b2;" />
          <h5>-Datos Etimológicos-</h5>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="clase"
                #clase="ngModel"
                [(ngModel)]="faunaService.selectedFauna.clase"
                placeholder="Añade la Clase"
                >
          </div>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="orden"
                #orden="ngModel"
                [(ngModel)]="faunaService.selectedFauna.orden"
                placeholder="Añade el Orden"
                >
          </div>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="familia"
                #familia="ngModel"
                [(ngModel)]="faunaService.selectedFauna.familia"
                placeholder="Añade la Familia"
                >
          </div>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="genero"
                #genero="ngModel"
                [(ngModel)]="faunaService.selectedFauna.genero"
                placeholder="Añade el Género"
                >
          </div> 
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="especie"
                #especie="ngModel"
                [(ngModel)]="faunaService.selectedFauna.especie"
                placeholder="Añade la Especie"
                >
          </div>
          <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="subespecie"
                #subespecie="ngModel"
                [(ngModel)]="faunaService.selectedFauna.subespecie"
                placeholder="Añade la Subespecie"
                >
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-plus-circle"></i> Añade un Animal
            </button>
            <button class="btn btn-secondary" type="reset" (click)="resetForm(faunaForm)">
                <i class="fas fa-sync-alt"></i> Reiniciar
            </button>
          </div>
        </form>
  </div>
</div>
